*{
    margin: 0;
}




div
{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 30px;
    margin-left: 30px;
}


#caja2
{
   /* border: 5px solid blue;*/
   border-bottom: 5px dashed yellow;
   border-top: 5px double green;
   border-left: 5px dotted blue;
   border-right: 5px ridge orangered;
   box-sizing: border-box;
}


#caja3
{
    padding-left: 25px;
    padding-top: 40px;
    box-sizing: border-box;
}


#caja4
{
    /*overflow: hidden;
    overflow: scroll;*/
    overflow: auto;
}


.menu
{
    padding-top: 10px;
    background-color: grey;
    color:white;
    width: 100%;
    height: 70px;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
}

.menu li
{
    font-size: 24px;
    display: inline;
    margin-left: 40px;
}

.menu li a
{
    color:white;
    text-decoration: none;
    cursor:pointer;
}