#div1
{
    width: 50%;
    height: 70px;
    
    text-align: center;
    font-size: 40px;
}

.original
{
    background-color: red;
    color: grey;
}

.nueva
{
    background-color: grey;
    color:red;
}